.account-list a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.account-list a span {
    margin-right: 24%;
    font-size: 14px;
  }

.account-list a p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }