<header class="header-up">
    <div class="container">
      <div class="logo">
        <app-logo></app-logo>
    </div>
      <div class="location">
        <app-location></app-location>
    </div>
      <div class="search-bar">
        <app-search-bar></app-search-bar>
    </div>
      <div class="language">
        <app-language></app-language>
    </div>
      <div class="account-list">
        <app-account-list></app-account-list>
    </div>
      <div class="returns">
        <app-returns></app-returns>
    </div>
      <div class="cart">
        <app-cart></app-cart>
    </div>
    </div>
  </header>

