.header-up {
    background-color: #131a22;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }