
.menuInf {
    background-color: #202229;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuInf ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  .menuInf ul li {
    margin-right: 15px;
  }

  .menuInf ul li:last-child {
    margin-right: 0;
  }

  .menuInf ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  .menuInf ul li i {
    color: #ffffff;
    margin-right: 5px;
  }
  